{% extends 'base.html' %}
{%block title %}

Commentaire | Modification

{%endblock%}
{%block content%}
<div class="card mt-3">
    <div class="card-header  ">
 <h1> Modifier les données d'un commentaire :{{commentaire.id}}</h1>
</div>
    <div class="card-body">
<form method="post" action="{%url 'update_commentaire' commentaire.pk%}">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary col-12">Modifier commentaire</button>
    </form>
    </div>
</div>
  {%endblock%}